.loginContainer {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoCompany {
  width: 12rem;
  height: 12rem;
}

.loginForm {
  width: 20vw;
  padding: 1rem 3.5rem;
}

.button {
  width: 100%;
}
