@use '../login.module.scss';

.socialLogin {
  padding-bottom: 2rem;
}

.socialLogo {
  width: 23px;
  height: 23px;
  margin-right: 0.5rem;
}

.googleButton {
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #dfe3e7;
    // border-color: #dfe3e7;
  }
}

.facebookButton {
  color: #fff;
  background-color: #1877f2;
  border-color: #1877f2;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #1669d4;
    border-color: #1669d4;
  }
}

.githubButton {
  color: #fff;
  background-color: #24292f;
  border-color: #24292f;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #434c57;
    border-color: #434c57;
  }
}

.hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
