@use '../login.module.scss';

.inputContainer {
  display: flex;
  flex-direction: column;

  .inputLabel {
    padding: 3rem 0 1rem 0.5rem;
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input {
      width: 13%;
      padding: 1rem 1.3rem;
      border: 2px solid;
      border-radius: 5px;
      transition: border-color 0.5s;
      // font-size: 1rem;
    }
  }
}

.profilePhoto {
  padding: 0.2rem;
  margin: 2rem;
  object-fit: cover;
  border: 2px solid red;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

.error {
  color: #ff3333;

  &Text {
    padding-top: 1rem;
    padding-left: 0.5rem;
  }

  .input {
    outline: none;
    color: #ff3333;
    border-color: #ff3333;

    &:focus {
      border-color: #ff3333;
    }
  }
}
