.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 2.5rem;
  margin: 1rem 0;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.disabled {
  cursor: no-drop;
  &:hover {
    cursor: no-drop;
  }
}
